@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,300;0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-family: 'PT Sans', sans-serif;
}

body {
  font-family: Lobster;
  font-weight: 300; /* Peso de fuente ligero */
  font-size: 20px
}

main {
  margin-left: 6rem;
  margin-right: 6rem;
  margin-bottom: 3rem;
  margin-top: 1rem;
}

.transition {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
